.default {
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  margin: auto;
}

.selected {
  border: 2px solid #ff4b4b;
  border-radius: 50%;
  background-color: #ffecec;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  margin: auto;
}
